.navbar {
    height: 90px;
    background-color: rgb(84, 13, 150);
    font-size: 25px;
}

.img-navbar {
    height: 90px;
}

.nav-link {
    color: white !important;

}

.nav-link:hover {
    background-color: black;
    transition: all 3s;
    border-radius: 15px;
}

h2{
    background-color: black;
    color: white;
    text-align: center;
    height: 50px;
    border: white solid 2px;
    margin-bottom: 0;
}

.main{
    background-color:#333;
    height: 800px;
}


footer {
    background-color: rgb(84, 13, 150);
    height: 100px;

}

.redes {
    font-size: 40px;
    text-align: center;
}

.redes a {
    color: white;
}

.redes p {
    font-size: 15px;
    color: white;
}