

.navbar{
    height: 90px;
    background-color: rgb(84, 13, 150);
    font-size: 25px;
}
.img-navbar{
    height: 90px;
}

.nav-link{
    color: white !important;
    
}
 
.Jumbotron{
    background-image: url(multimedia/duki2076_re.jpg);
    background-position: center;
    background-size: cover;
    height: 350px; 
    color: white;
    font-size: 20px;
} 
h1{
    color: white;
}

h2{
    height: 50px;
    background-color:black;
    border: rgb(84, 13, 150) solid 3px;
    color:white;
    text-align: center;
    margin-bottom: 0;
}

main{
    background-color: black;
    height: 800px;
    color: white;
    font-size: 20px;
 
}


aside{
background-color: black;
height: 800px;
color: white;
font-size: 20px;
}


footer{
    background-color: rgb(84, 13, 150);
    height: 100px;
    
}

.redes{
   font-size: 50px;
   text-align: center;
}

.redes a{
    color: white;
}


@media only screen and (min-width:0) and (max-width:576px){
.navbar-collapse{
    background-color:rgb(84, 13, 150);
    display:flex;
    justify-content: center !important;
}
}